<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <title>Stock Viewer | Store Stock</title>
  <!--  <link rel="stylesheet" type="text/css" href="content/layout.css" />
    <link rel="stylesheet" type="text/css" href="content/style.css" />
    <link rel="stylesheet" type="text/css" href="content/style.css" />-->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <div class="relative bg-white overflow-hidden">
    <div class="mx-auto">
      <div class="relative h-full z-1000 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
        <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/4"
             fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
          <polygon points="50,0 100,0 50,100 0,100" />
        </svg>
        <div>
          <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
            <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
              <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                <div class="flex items-center justify-between w-full md:w-auto">
                  <a href="/">
                    <span class="sr-only">Workflow</span>
                    <!--<img class="h-32 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg">-->
                    <img class="h-32 w-auto sm:h-10" src="/content/logo.svg">
                  </a>
                  <div class="-mr-2 flex items-center md:hidden">
                    <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                      <span class="sr-only">Open main menu</span>
                      <!-- Heroicon name: outline/menu -->
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
                <a href="/store-stock" class="font-medium text-gray-500 hover:text-red-500">Stock Viewer</a>
                <!--<a href="#" class="font-medium text-gray-500 hover:text-red-500">Log in</a>-->
              </div>
            </nav>
          </div>

          <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
            <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
              <div class="px-5 pt-4 flex items-center justify-between">
                <div>
                  <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
                </div>
                <div class="-mr-2">
                  <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                    <span class="sr-only">Close main menu</span>
                    <!-- Heroicon name: outline/x -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
              <a href="#" class="block w-full px-5 py-3 text-center font-medium text-gray-600 bg-gray-50 hover:bg-gray-100">
                Store Stock
              </a>
              <!--<a href="#" class="block w-full px-5 py-3 text-center font-medium text-gray-600 bg-gray-50 hover:bg-gray-100">
                Log in
              </a>-->
            </div>
          </div>
        </div>
         
        <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:pl-20 xl:mt-28">
          <div class="sm:text-center lg:text-left  w-3/4">
            <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
              <span class="block">Hello, <span class="text-red-500">@Model.StoreName</span></span>
            </h1>
            <h1 class="mt-4 text-4xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">
              <span class="block">Your Store Stock is Online!</span>
            </h1>

            <!--            <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                          <div class="rounded-md shadow">
                            <a href="#"
                               class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white
                               bg-red-600 hover:bg-red-800 md:py-4 md:text-lg md:px-10">
                              Get started
                            </a>
                          </div>
                        </div>-->
          </div>
        </main>
      </div>
    </div>
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-2/4 lg:h-full overflow-auto">
      <!--<img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="">-->

      <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">
      <div class="mt-8 lg:mt-20 lg:mr-20">
        <div class="">
          <div>
            @Section['ViewTable']
          </div>
        </div>
      </div>
    </div>
    <style>
      .table {
        border-spacing: 0 15px;
      }

      i {
        font-size: 1rem !important;
      }

      .table tr {
        border-radius: 20px;
      }

      tr td:nth-child(n+5),
      tr th:nth-child(n+5) {
        border-radius: 0 .625rem .625rem 0;
      }

      tr td:nth-child(1),
      tr th:nth-child(1) {
        border-radius: .625rem 0 0 .625rem;
      }
    </style>
  </div>
  </div>

</body>
</html>