@Master['StockViewer']

@Section['ViewTable']
<table class="table text-gray-700 border-separate space-y-6 text-sm">
  <thead class="bg-gray-100 text-gray-700">
    <tr>
      <th class="p-3">Title</th>
      <th class="p-3">Category</th>
      <th class="p-3">Amount</th>
      <th class="p-3">Price</th>
      <th class="p-3">Discount</th>
      <th class="p-3">Info</th>
      <th class="p-3">Action</th>
    </tr>
  </thead>
  <tbody>
    @Each.Model.ListOfStoreStock
    <tr class="bg-gray-100">
      <td class="p-3 ">
        <div class="flex align-items-center">
          <img class="rounded-full h-12 w-12"
               src="https://images.unsplash.com/photo-1613588718956-c2e80305bf61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80" alt="unsplash image">
          <div class="ml-3 lg:w-4/5">
            <div class="">
              @Current.Title
            </div>
          </div>
        </div>
      </td>
      <td class="p-3 text-center">
        @Current.Type
      </td>
      <td class="p-3 font-bold text-center">
        @Current.Quantity
      </td>
      <td class="p-3 text-center">
        <span class="">Rp.@Current.Price</span>
      </td>
      <td class="p-3 text-center">
        <span class="">
          Rp.@Current.Discount
        </span>
      </td>
      <td class="p-3 text-center">
        <!--<span class="bg-green-400 text-gray-50 rounded-md px-2">available</span>-->
        -
      </td>
      <td class="p-3 md:w-1/6 text-center">
        <a href="#" class="text-gray-400 hover:text-gray-100 mr-2">
          <i class="material-icons-outlined text-base">visibility</i>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-100  mx-2">
          <i class="material-icons-outlined text-base">edit</i>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-100  ml-2">
          <i class="material-icons-round text-base">delete_outline</i>
        </a>
      </td>
    </tr>
    @EndEach
  </tbody>
</table>
@EndSection